/*
.menu-cartoes li a {
	font-size: 9px !important;
}
*/

.small {

	font-size: 12px !important;
}

.small-13 {
	font-size: 13px !important;	
}
.small-10 {

	font-size: 10px !important;
}

h1 {
	font-size: 29px;
}

.btn-loja-utils {
	padding: 6px !important
}

.btn-loja-utils-img {
	width: 37px;
}