<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.paparango" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>ASX Card</name>
    <description>
        ASX Card - Cartão de fidelidade
    </description>
    <author email="mayron@cachina.com.br" href="http://www.cachina.com.br">
        Mayron Cachina
    </author>

    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.3.0" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />


    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.network-information"/>
    <gap:plugin name="com.pushwoosh.plugins.pushwoosh" />

    
    <icon gap:density="ldpi" gap:platform="android" src="res/icon/android/icon-36-ldpi.png" />
    <icon gap:density="mdpi" gap:platform="android" src="res/icon/android/icon-48-mdpi.png" />
    <icon gap:density="hdpi" gap:platform="android" src="res/icon/android/icon-72-hdpi.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="res/icon/android/icon-96-xhdpi.png" />
    <icon gap:platform="ios" height="57" src="res/icon/ios/icon-57.png" width="57" />
    <icon gap:platform="ios" height="72" src="res/icon/ios/icon-72.png" width="72" />
    <icon gap:platform="ios" height="114" src="res/icon/ios/icon-57-2x.png" width="114" />
    <icon gap:platform="ios" height="144" src="res/icon/ios/icon-72-2x.png" width="144" />
    <icon gap:platform="winphone" src="res/icon/windows-phone/icon-48.png" />
    <icon gap:platform="winphone" gap:role="background" src="res/icon/windows-phone/icon-173.png" />
    
    <gap:splash src="screen/320x480.png" width="320" height="480" />
    <gap:splash src="screen/640x960.png" width="640" height="960" />
    <gap:splash src="screen/640x1136.png" width="640" height="1136" />
    <gap:splash src="screen/768x1204.png" width="768" height="1204 " />
    <gap:splash src="screen/1536x2048.png" width="1536" height="2048" />
    <gap:splash src="screen/240x400.png" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="screen/320x480.png" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="screen/480x800.png" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="screen/720x960.png" gap:platform="android" gap:density="xhdpi" />

    <access origin="*"  />
    <content src="index.html" />

</widget>
